:root {
    --branding-color: #396afc;
    --dark-branding-color: #2948ff;
    --contrast-color: #e0665d;
    --light-color: #faf6f6;
    --dark-color: #313537;
  }

  @media (min-width:577px) {

    .first-name {
        display: none;
      }
    
  }

  @media (min-width:577px) and (max-width: 991px){

    
    .image___overlay {
        display: flex;
    }
    .image__description {
        display: none !important;
    }
    .icons {
        display: flex;
        flex-direction: column;
        width: 200%;
    }
    a {
        display: flex;
        text-align: center;
    }
   
  }

  @media (max-width: 576px) {
     
    h2{
        font-size: 18px;
    }
  
  .full-name {
    display: none;
  }

  .first-name {
    font-size: 48px;
}

  p {
      font-size: 14px;
  }


    .project-links {   
            display: block;
            text-align: center;
            margin: 10px 20px;
    }
    .empty {
        display: none;
    }

    .icon {
        display: flex;
        max-width: 20%;
    
    }
  
  }


@media (width: 1024px) {
    h2{
        font-size: 24px;
    }
    a {
        display: flex;
        text-align: center;
        font-size: 12px;
    }
  .name {
      font-size: 36px;
  }
}

body {
    padding-top: 50px;
    font-family: Helvetica, sans-serif;
    color: var(--dark-color);
    background: radial-gradient(circle at 12.3% 19.3%, rgb(75, 122, 250) 0%, rgb(95, 209, 249) 100.2%);
    background-size: 400% 400%;
}

header {
    padding: 70px;
}

.glass {
    padding: 50px;
    background: var(--light-color);
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
    border-radius: 10px;
    z-index: 2;
    backdrop-filter: blur(32px);
}

.box-area li {
    position: absolute;
	display: block;
	list-style: none;
	width: 25px;
    height: 25px;
    border-radius: 4px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -250px;
}

.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

h1 {
    font-size: 72px;
    font-weight: 700;
}

h3 {
    font-size: 36px;
}

p {
    line-height: 25px;
}

.navbar-custom {
    background-color: var(--branding-color) !important;
    color: var(--light-color) !important;
}

.navbar-brand, .navbar-nav, .nav-item {
    font-family: Helvetica, sans-serif;
    color: var(--light-color) !important;
}


.active {
    color: var(--light-branding-color) !important;
}

.intro-text {
    font-size: 36px;
}


.button-primary {
    padding: 15px 25px;
    border-radius: 4px;
    background-color: var(--branding-color);
    color: white;
}

.button-primary:hover {
    text-decoration: none;
    background-color: var(--dark-branding-color);
    transition: ease-in-out 4ms;
    color: var(--light-color);
}

.button-secondary {
    padding: 15px 25px;
    border-radius: 4px;
    color: var(--light-color);
    border: solid 1px var(--light-color);
}

.button-secondary:hover {
    text-decoration: none;
    background-color: white;
    transition: ease-in-out 4ms;
    color: var(--branding-color);
}

.contact-link {
    display: flex;
    justify-content: center;
  }

 .section {
     padding-top: 50px;
 }

  .fab {
      font-size: 32px;
      color: var(--dark-branding-color);
      margin: 8px;
  }

  .fab:hover {
    text-decoration: none;
}

.image___overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: var(--dark-color);
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 4px;
}

.image__description {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image___overlay:hover {
    opacity: 1;
    backdrop-filter: blur(32px);

}

.footer {
    font-size: 12px;
}


.open-source {
    color: var(--dark-branding-color);
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
}

.open-source:hover {
    text-decoration: none;
}



  @keyframes change {
      0%{
        background-position: 0 50%;
      }
      50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
  }