@import url(./components/featured.css);
@import url(./components/header.css);
@import url(./components/navbar.css);
@import url(./experience.css);

:root {
    --branding-color: #FF3300;
    --dark-branding-color: #e63509;
    --contrast-color: #bab5ad;
    --light-color: #faf6f6;
    --dark-color: #131311;
}

.Bolkit {
  font-family: Bolkit;
}

.BolkitRayek {
  font-family: "Bolkit-Rayek";
}

html, body {
  color: var(--dark-color);
  margin: 0;
  overflow-x: hidden;

}

h1, h2, h3 {
  font-family: "Bolkit-Rayek";
}


h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

p  {
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  font-size: 16px;
  letter-spacing: 0.04rem;
}


#badge-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#badge {
  position: relative;
  top: -30px;
  max-width: 420px;
}

/*Start styles header text*/

.dynamic-text {
  text-align: center;
}

.typing, .typed-cursor {
  color: var(--branding-color);
  font-size: 70px;
}

/*End styles header text*/

/*Start styles sections title*/

.section-title-container {
  position: relative;
  padding: 20px 20px 50px 20px;
  width: 100%;
}

.section-title {
  position: absolute;
  font-size: 90px;
  letter-spacing: 0.1em;
  color: rgb(253, 253, 253);
}

.section-subtitle {
  margin-top: 50px;
  text-align: center;
}

/*End styles sections title*/


.home-section {
  background-color: #fdfdfc;
  height: 800px;
  padding-top: 120px;
}

.para1 {
  background-image: url(/images/background/mitchell-luo-Aw8gYKOMuS4-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
}

.about-section {
  background-color: #fdfdfc;
  padding-bottom: 30px;
}

.para2 {
  background-image: url(/images/background/bruno-emmanuelle-4pxBik5ewx0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
}

.work-section {
  background-color: #bab5ad;
  padding-top: 30px;
  padding-bottom: 30px;
}

.filter {
  filter: opacity(0.5) grayscale(100%);
}

.filter:hover {
  transition: 0.2s ease-in-out;
  filter: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px;
}

.flex-container img {
  width: 100%;
  border-radius: 4px;
}

.flex-container strong {
  font-family: 'Open Sans', sans-serif;
}

.flex-container .item {
  text-align: center;
  display: block;
  margin: 20px auto;
}


.para3 {
  background-image: url(/images/background/mitchell-luo-Aw8gYKOMuS4-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  background-attachment: fixed;
}

.formation-section {
  background-color: #bab5ad;
  padding-top: 30px;
  padding-bottom: 30px;
}


/*Start styles skills list*/

.skills-list {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills-list li {
    list-style: none;
    font-size: 100px;
    color: #fdfdfc;
}

.no-hover-effect {
  filter: none !important;
}

/*End styles skills list*/


.para4 {
    background-image: url(/images/background/bruno-emmanuelle-4pxBik5ewx0-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-attachment: fixed;
}


/*Start buttons*/

.button-no-bg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 25px;
  color: var(--branding-color);
}

.button-no-bg:hover {
    text-decoration: none;
    transition: ease-in-out 4ms;
    color: var(--dark-branding-color);
    cursor: pointer;
}


.button-primary {
    padding: 15px 25px;
    border-radius: 4px;
    background-color: var(--branding-color);
    color: white;
}

.button-primary:hover {
    text-decoration: none;
    background-color: var(--dark-branding-color);
    transition: ease-in-out 4ms;
    color: var(--light-color);
}

.button-secondary {
    padding: 15px 25px;
    border-radius: 4px;
    color: var(--light-color);
    border: solid 1px var(--light-color);
}

.button-secondary:hover {
    text-decoration: none;
    background-color: white;
    transition: ease-in-out 4ms;
    color: var(--branding-color);
}

.centered-button {
    display: flex;
    justify-content: center;
  }

  /*Start buttons*/

 .section {
     padding-top: 50px;
 }

  .fab {
      font-size: 32px;
      color: var(--dark-branding-color);
      margin: 8px;
  }

  .fab:hover {
    text-decoration: none;
}


.footer {
    font-size: 12px;
}


.open-source {
    color: var(--dark-branding-color);
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
}

.open-source:hover {
    text-decoration: none;
}

@media screen and (max-width: 991px){

    .logo {
        width: 220px;
    }

    .section-title {
        top: -70px !important;
        font-size: 60px !important;
        -webkit-text-stroke: 2px #fff !important;
    }

    .collapse {
        background-color: #fdfdfc;
        border: 1px solid #bab5ad;
        padding-bottom: 15px;
        border-radius: 4px;
    }

    .navbar-toggler-icon {
        width: 1rem;
    }

}


@media screen and (max-width: 809px){


    .flex-container {
       flex-direction: column !important;
    }

    .flex-container img, .flex-container a {
        margin: 20px auto;
    }

 }
