:root {
    --branding-color: #29cdb5;;
    --light-branding-color: #9bf4d5;
    --dark-color: #373331;
  }

  @media (max-width: 576px) {
      .name {
          font-size: 48px;
      }
      a {
        display: flex;
        text-align: center;
    }
  }

  @media (max-width: 320px) {
      h2{
          font-size: 24px;
      }
      a {
          display: flex;
          text-align: center;
          font-size: 12px;
      }
    .name {
        font-size: 36px;
    }
}

@media (width: 1024px) {
    h2{
        font-size: 24px;
    }
    a {
        display: flex;
        text-align: center;
        font-size: 12px;
    }
  .name {
      font-size: 36px;
  }
}

body {
    font-family: Helvetica, sans-serif;
    padding: 70px;
    background: radial-gradient(circle at 10% 20%, rgba(237, 248, 243, 0.46) 0.1%, rgba(241, 235, 235, 0.28) 90.1%);
}

h1, h2 {
    color:var(--dark-color);
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 96px;
    font-weight: 600;
    font-family: 'Vidaloka', serif;
}

h1:hover {
    animation: text-hover 2s 1;  
}

.name {
    animation: text 2s 1;  
}

.button-primary {
    padding: 15px 25px;
    border-radius: 4px;
    background-color: var(--branding-color);
    color: white;
}

.button-secondary {
    padding: 15px 25px;
    border-radius: 4px;
    color: var(--branding-color);
    border: solid 1px var(--branding-color);
}

.navigation-links {
    display: flex;
    justify-content: center;
  }

  .navigation-links a {
    margin: 20px;
  }

  .section-name {
      font-family: 'Vidaloka', serif;
      background-color: var(--branding-color);
      color: white;
      padding: 15px 0;
      border-radius: 4px;
  }

  @keyframes text {
      0%{
          letter-spacing: 2px;
      }
      30%{
        letter-spacing: 4px;
    }
    50%{
        letter-spacing: 0px;
    }
      
  }

  @keyframes text-hover {
    0%{
        letter-spacing: 2px;
    }
    30%{
      letter-spacing: 4px;
  }
  50%{
      letter-spacing: 0px;
  }
    
}