.work-header {
  background-image: url(/images/background/bruno-emmanuelle-4pxBik5ewx0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 120px;
  height: 800px;
}

.work-section-title {
  top: 180px !important;
}

.projects {
  padding: 70px;
}

.projects img {
  width: 100%;
  border-radius: 4px;
}

.projects strong {
  font-family: 'Open Sans', sans-serif;
}

.projects .item {
  text-align: center;
  display: block;
  margin: 20px auto;
}

.projects .row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects img {
  border-radius: 4px;
}
