.p-20 {
  font-size: 20px;
}

.container {
  padding: 70px;
}


.index-header {
  text-transform: lowercase;
  font-family: Bolkit;
  line-height: 25px;
  font-size: 20px;
  letter-spacing: 0.04rem;
}

.intro-text {
  font-size: 36px;
}

.up {
  text-transform: uppercase;
}


@media screen and (max-width: 768px) {

  .typing, .typed-cursor {
      font-size: 30px !important;
  }

  .para1, .para2 {
      height: 200px !important;
  }


}
